body{background:url("images/background.png") repeat;color:#e8e7e7;font-family:Verdana;font-size:12px;margin:0px;padding:0px;}
img{background:transparent;border:none;}
#header{background:url("images/Header-BodyBar.png") repeat-x;width:980px;height:195px;margin:0px auto;padding:0px;position:relative;overflow:hidden;}
#header-under{background:url("images/Header-Bar.png") repeat-x;width:980px;height:5px;margin:0px auto;padding:4px 0px 0px 0px;position:relative;overflow:hidden;}
#header-shrink{width:980px;height:160px;margin:0;padding:0px;position:relative;}

#branding{width:980px;height:160px;margin:0px;padding:0px;position:relative;float:left;}
#branding h1{color:#aac55e;font-size:24px;font-weight:normal;text-align:left;text-decoration:none;margin:20px 0px 0px 160px;padding:0px;position:relative;}
#branding h1 a{color:#aac55e;text-decoration:none;}
#branding h1 a:visited{color:#aac55e;text-decoration:none;}
#branding h1 a:hover{color:#87a23c;text-decoration:none;}
#branding p{color:#87A23C;font-size:15px;font-family:Arial;font-style:italic;font-weight:bold;text-align:left;text-decoration:none;margin:5px 0px 0px 170px;padding:0px;position:relative;}
#branding pd{color:#FFFFFF;font-size:11px;font-family:Arial;font-style:italic;font-weight:bold;text-align:left;text-decoration:none;margin:0px 0px 0px 9 px;padding:0px}
#logo{width:980px;height:160px;position:relative;float:left;}
#logo a{width:980px;height:160px;position:relative;float:left;border:none;}
#header-feeds-body{width:230px;height:100px;margin:0px;padding:0px;position:relative;float:right;}
.header-feeds{width:250px;height:30px;margin:0px 0px 10px 0px;padding:0px;top:5px;left:26px;position:relative;float:left;}
.feed-ext-one{width:100px;height:24px;margin:8px 0px 0px 0px;padding:0px;top:5px;left:5px;position:relative;float:right;}
.feed-ext-two{width:100px;height:30px;margin:5px 0px 0px 0px;padding:0px;top:5px;left:21px;position:relative;float:right;}
.feed-image{width:30px;height:29px;margin:0px;padding:0px;position:relative;float:left;}
.feeds-link{width:210px;margin:0px 0px 0px 10px;top:1px;position:relative;float:left;}
.feeds-link a{color:#ff9600;text-decoration:none;font-size:12px;font-weight:bold;}
.feeds-link a:visited{color:#ff9600;text-decoration:none;}
.feeds-link a:hover{color:#FFFFFF;text-decoration:none;}
.feeds-text{width:210px;font-size:10px;margin:0px 0px 0px 10px;top:1px;position:relative;float:left;}
.header-spacer{width:907px;height:1px;margin:0px;padding:0px;position:relative;float:left;}
#content{width:980px;height:auto;margin:0px auto;padding:0px;position:relative;overflow:hidden; margin-top: 4px;}
#content-shrink{width:980px;height:auto;margin:0px;padding:0px;position:relative;float:left;overflow:hidden;}
#posts-body{width:679px;height:auto;margin:0px;padding:0px;position:relative;float:left;overflow:hidden;}
.post{width:657px;margin:0px;padding:0px;position:relative;float:left;clear:both;}
.post-alt{width:657px;margin:0px;padding:0px;position:relative;float:left;clear:both;}
.post-date{background:url("images/Content-Post-DateBadge.png") no-repeat;width:96px;height:82px;float:left;}
.post-date-month{color:#FFFFFF;font-size:14px;font-weight:bold;text-transform:uppercase;text-align:center;margin:0px;padding:25px 0px 0px 0px;display:block;}
.post-date-day{color:#FFFFFF;font-size:17px;font-weight:bold;text-transform:uppercase;text-align:center;margin:0px;padding:1px 0px 0px 0px;display:block;}
.post-title{background:url("images/Content-Post-TittleBody.png") no-repeat;width:561px;height:82px;text-align:left;margin:0px;padding:0px;position:relative;float:left;overflow:hidden;}
.post-title h2{width:496px;color:#f1f1f1;font-size:16px;margin:0px 10px 0px 5px;padding:0px;top:15px;position:relative;}
.post-title h2 a{color:#f1f1f1;text-decoration:none;}
.post-title h2 a:visited{color:#f1f1f1;text-decoration:none;}
.post-title h2 a:hover{color:#dfdfdf;text-decoration:none;}
.post-info{width:540px;height:auto;color:#95928b;font-size:12px;text-align:left;margin:0px 10px 0px 5px;padding:0px;top:25px;position:relative;overflow:hidden;}
.post-info a{color:#FF9600;text-decoration:underline;}
.post-info a:visited{color:#FF9600;text-decoration:underline;}
.post-info a:hover{color:#FF9600;text-decoration:none;}
.post-content-body{background:url("images/Content-Post-TextBody.png") repeat-y;width:657px;height:auto;min-height:30px;margin:0px;padding:0px;position:relative;float:left;clear:both;}
.post-image{width:640px;height:auto;border:solid 1px #666666;margin:10px 0px 0px 0px;padding:0px;left:17px;position:relative;float:left;clear:both;}
.post-article-sm{font-size:11px;line-height:19px;text-align:left;word-spacing:1px;}
.post-article-sm a{color:#FF9600;text-decoration:underline;}
.post-article-sm a:visited{color:#FF9600;text-decoration:underline;}
.post-article-sm a:hover{color:#ff9600;text-decoration:underline;}
.post-article{width:631px;font-size:12px;line-height:19px;text-align:left;word-spacing:1px;margin:10px 0px 0px 0px;padding:0px;left:13px;position:relative;float:left;overflow:hidden;clear:both;}
.post-article p{margin:0px;padding:0px 0px 10px 0px;position:relative; color: #D2CEC5;}
.post-article a{color:#FF9600;text-decoration:underline;}
.post-article a:visited{color:#FF9600;text-decoration:underline;}
.post-article a:hover{color:#ff9600;text-decoration:underline;}
.post-article pre{background:#1B2426 none repeat scroll 0 0;border:2px ridge #CCCCCC;color:#B9BDB6;font-family:'Courier New',Courier, Fixed;font-size:11px;line-height:1em;margin:15px 0;overflow:auto;padding:5px 3px 5px 5px;white-space:prewrap;width:618px;height:auto;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.post-article blockquote{background:#202020;border-left:solid #2c2c2c 5px;margin:10px 20px 15px 20px;padding:1px 10px;}
.post-article blockquote p{color:#b3b3b3;font-style:italic;margin:0px;padding:10px 0px 10px 0px;}
.post-article blockquote blockquote{background:#010101;}
.post-article img{padding:0px 0px 10px 0px;margin:0px;}
.post-footer-alt{background:url("images/Content-Post-FooterAlt.png") no-repeat;width:657px;height:13px;margin:0px;padding:0px;position:relative;float:left;clear:both;}
.post-footer{background:url("images/Content-Post-Footer.png") no-repeat;width:657px;height:43px;margin:0px;padding:0px;position:relative;float:left;clear:both;}
.post-lower-info{width:557px;height:16px;color:#95928b;font-size:12px;text-align:left;margin:0px;padding:0px;top:8px;left:25px;position:relative;float:left;overflow:hidden;clear:both;}
.post-lower-info a{color:#FF9600;text-align:center;text-decoration:underline;}
.post-lower-info a:visited{color:#FF9600;text-align:center;text-decoration:underline;}
.post-lower-info a:hover{color:#ff9600;text-align:center;text-decoration:none;}
.post-spacer{width:627px;height:5px;margin:0px;padding:0px;position:relative;float:left;overflow:hidden;clear:both;}
.not-found{background:#010101;width:617px;text-align:left;margin:0px 0px 0px 0px;padding:15px;position:relative;float:left;border:5px solid #030101;}
.not-found h2{color:#aac55e;font-size:16px;font-weight:bold;text-transform:uppercase;margin:0px;padding:0px;}
#comments-body{width:677px;height:auto;margin:0px;padding:0px;position:relative;float:left;overflow:hidden;}
.comments-center-alt{background:#010101;width:627px;height:auto;color:#aac55e;font-size:16px;font-weight:bold;text-align:center;margin:0px;padding:15px;left:0px;position:relative;float:left;}
.comments-center{width:100%;color:#aac55e;font-size:16px;font-weight:bold;text-align:center;margin:0px;padding:0px;left:0px;position:relative;float:left;}
#comments{width:677px;height:auto;margin:0px;padding:0px;left:0px;position:relative;float:left;overflow:hidden;clear:both;}
.comment-box{width:631px;border:solid 3px #030101;margin:0px;padding:10px;position:relative;float:left;overflow:hidden;}
.black{background:#010101;}
.white{background:#141823;}
.avatar{padding:0px 10px 0px 0px;float:left;}
.comment-info{width:628px;height:auto;border-bottom:#313131 solid 1px;position:relative;float:left;}
.comment-author{width:100%;color:#aac55e;font-size:13px;font-weight:bold;margin:5px 0px 0px 0px;padding:0px;position:relative;float:left;}
.comment-author a{color:#aac55e;text-decoration:underline;}
.comment-author a:visited{color:#aac55e;text-decoration:underline;}
.comment-author a:hover{color:#87a23c;text-decoration:none;}
.comment-stat{color:#95928b;font-size:11px;text-decoration:none;margin:7px 0px 5px 0px;padding:0px;position:relative;float:left;}
.comment-stat a{color:#FF9600;text-decoration:underline;}
.comment-stat a:visited{color:#FF9600;text-decoration:underline;}
.comment-stat a:hover{color:#FF9600;text-decoration:none;}
.comment-text{width:100%;font-size:11px;margin:0px;padding:0px;position:relative;float:left;overflow:hidden;}
.comment-text p{color: #D2CEC5;;margin:10px 0px 10px 0px;padding:0px;position:relative;}
.comment-text a{color:#FF9600;text-decoration:underline;}
.comment-text a:visited{color:#FF9600;text-decoration:underline;}
.comment-text a:hover{color:#ff9600;text-decoration:none;}
.comment-text blockquote{background:#202020;border-left:solid #2c2c2c 5px;width:540px;margin:10px 0px 15px 0px;padding:1px 10px;}
.comment-text blockquote p{color:#b3b3b3;font-style:italic;margin:0px;padding:10px 0px 10px 0px;}
.comment-text blockquote blockquote{background:#010101;width:495px;}
.comment-spacer{width:627px;height:5px;margin:0px;padding:0px;position:relative;float:left;overflow:hidden;}
#comment-form{background:#010101;width:627px;height:auto;margin:0px;padding:15px;position:relative;float:left;}
#comment-form h2{color:#aac55e;font-size:16px;text-decoration:none;margin:0px;padding:0px;}
#comment-form p{color:#e8e7e7;font-size:11px;margin:10px 0px 0px 0px;padding:0px;}
#comment-form b{color:#e8e7e7;}
#comment-form a{color:#FF9600;font-size:11px;text-decoration:underline;}
#comment-form a:visited{color:#FF9600;text-decoration:underline;}
#comment-form a:hover{color:#ff9600;text-decoration:none;}
#comment-form .myloginza {text-decoration:none;}
#commentform label{color:#FF9600;font-size:10px;left:10px;position:relative;}
#commentform #author, #commentform #email, #commentform #url, #commentform textarea{color:#555555;background-color:#141823;border:solid 3px #202020;font-size:12px;padding:0px 0px 3px 2px;overflow:hidden;}
#commentform:hover #author:hover, #commentform:hover #email:hover, #commentform:hover #url:hover, #commentform textarea:hover{color:#f1f1f1;background-color:#141823;border:solid 3px #353535;padding:0px 0px 3px 2px;}
#commentform:focus #author:focus, #commentform:focus #email:focus, #commentform:focus #url:focus, #commentform textarea:focus{color:#f1f1f1;background-color:#141823;border:solid 3px #202020;padding:0px 0px 3px 2px;}
#commentform textarea{width:620px;height:150px;overflow:hidden;}
#submit-comment{}
#sidebar-left{width:301px;margin:0px 0px 0px 0px;padding:0px;position:relative;float:left;overflow:hidden;}
#sidebar-left h2{background:url("images/Content-Sidebar-Tittle.png") no-repeat;width:286px;height:30px;color:#FF9600;font-size:13px;font-weight:bold;text-align:left;margin:0px;padding:12px 0px 0px 15px;position:relative;}
.sidebar-item-left{background:url("images/Content-Sidebar-TextBody.png") repeat-y;width:301px;height:auto;margin:0px;padding:0px;position:relative;float:left;overflow:hidden;}
.sidebar-item-left a{color:#e8e7e7;text-decoration:underline;}
.sidebar-item-left a:visited{color:#e8e7e7;text-decoration:underline;}
.sidebar-item-left a:hover{color:#95928b;text-decoration:none;}
.sidebar-item-left ul{width:301px;color:#e8e7e7;font-size:12px;list-style:none;margin:0px;padding:0px 0px 15px 0px;float:left;overflow:hidden;}
.sidebar-item-left ul li{width:133px;height:auto;margin:0px;padding:10px 0px 0px 15px;float:left;overflow:hidden;}
.sidebar-item-left ol{width:301px;color:#e8e7e7;font-size:12px;list-style:inside square;margin:0px;padding:0px 0px 15px 0px;float:left;overflow:hidden;}
.sidebar-item-left ol li{width:301px;height:auto;margin:0px;padding:10px 0px 0px 15px;float:left;overflow:hidden;}
.sidebar-item-left ul li ul{background:none;width:auto;height:auto;margin:0px;padding:0px;overflow:hidden;}
.sidebar-item-left ul li ul li{width:133px;height:auto;margin:0px;padding:10px 0px 0px 0px;float:left;overflow:hidden;}
ul.wide{list-style:none;width:301px;color:#e8e7e7;font-size:12px;list-style:inside square;margin:0px;padding:5px 0px 15px 0px;float:left;overflow:hidden;}
ul.wide li{list-style:none;width:301px;height:auto;margin:0px;padding:5px 0px 5px 15px;float:left;overflow:hidden;}
.sidebar-item-left-footer{background:url("images/Content-Sidebar-Footer.png") no-repeat;width:301px;height:12px;margin:0px;padding:0px;position:relative;float:left;overflow:hidden;}
.sidebar-item-left-header{background:url("images/Content-Sidebar-Header.png") no-repeat;width:301px;height:4px;margin:0px;padding:0px;position:relative;float:left;overflow:hidden;}
#wp-calendar{width:100%;margin:0px auto;padding:0px 20px 10px 20px;position:relative;}
#wp-calendar table{width:100%;margin:0px;padding:0px;position:relative;}
#wp-calendar caption{width:100%;color:#aac55e;font-weight:bold;text-align:center;margin:0px;padding:10px 0px 10px 0px;position:relative;}
#wp-calendar th{color:#e8e7e7;font-style:normal;text-transform:capitalize;margin:5px 0px 5px 0px;padding:3px 0px 3px 0px;}
#wp-calendar td{border:1px solid #202020;color:#e8e7e7;text-align:center;margin:0px;padding:3px 0px 3px 0px;}
#wp-calendar td a{color:#FF9600;text-align:center;text-decoration:underline;margin:0px;padding:3px 0px 3px 0px;}
#wp-calendar td a:visited{color:#FF9600;}
#wp-calendar td a:hover{color:#ff9600;}
#wp-calendar #next a{color:#FF9600;text-align:right;text-decoration:underline;margin:0px;padding-right:10px;}
#wp-calendar #next a:visited{color:#FF9600;}
#wp-calendar #next a:hover{color:#ff9600;}
#wp-calendar #prev a{color:#FF9600;text-align:left;text-decoration:underline;margin:0px;padding-left:10px;}
#wp-calendar #prev a:visited{color:#FF9600;}
#wp-calendar #prev a:hover{color:#ff9600;}
.tag-cloud{width:261px;text-align:justify;margin:0px auto;padding:20px;position:relative;}
.widget_tag_cloud{width:261px;text-align:justify;margin:0px auto;padding:20px;position:relative;}
.textwidget{width:271px;color:#f1f1f1;font-size:11px;text-align:justify;line-height:15px;margin:0px;padding:15px;}
.textwidget img{float:left;padding:0px 10px 5px 0px}
.textwidget p{color:#e8e7e7;margin:0px;padding:0px;}
.textwidget a{color:#aac55e;text-decoration:none;}
.textwidget a:visited{color:#aac55e;text-decoration:none;}
.textwidget a:hover{color:#87a23c;text-decoration:underline;}
.adwidget{width:257px;color:#e8e7e7;font-size:11px;text-align:left;line-height:15px;margin:0px;padding:20px;}
#searchform{margin:10px;padding:0px;position:relative;}
#s{width:195px;height:22px;color:#555555;font-style:italic;background-color:#141823;border:solid 1px #393633;margin:0px 5px 0px 0px;padding:4px 0px 0px 3px;position:relative;}
#s:hover{color:#f1f1f1;background-color:#141823;border:solid 1px #393633;}
#s:focus{color:#f1f1f1;background-color:#141823;border:solid 1px #393633;}
#submit{margin:0px;padding:2px;top:0px;position:relative;}
#footer{width:100%;height:35px;margin:0px auto;padding:0;left:0px;bottom:0px;position:relative;overflow:hidden;}
#spacer{width:auto;height:25px;margin:0px auto;padding:0px;position:relative;overflow:hidden;}
#footer_text{background:#010101;height:40px;margin:0px auto;font-size:11px;text-align:center;color:#f1f1f1;padding:5px 0px 0px 0px;}
#footer_text a{color:#FF9600;text-decoration:underline;}
#footer_text a:visited{color:#FF9600;text-decoration:underline;}
#footer_text a:hover{color:#ff9600;text-decoration:none;}
.related{width:643px;background-color:#010101;border:0p?;padding:7px;margin-bottom:5px;margin-top:5px;margin-left:0px;color:#ffffff;}
.related h4{font:bold 16px Arial;color:#AAC55E;margin-left:10px;}
.related a{font:normal 12px Arial;color:#FF9600;text-decoration:underline;}
.related p{color: #AAC55E;font-size: 16px;font-weight: bold;padding-left: 15px;}
.ed_button{width:0;overflow:visible;}
.ed_button[class]{width:auto;}
#comment_quicktags{text-align:left;margin-left:0%;}
#comment_quicktags #ed_comment_toolbar{display:inline;}
#comment_quicktags input.ed_button{background:#F4F4F4;border:1px solid #D6D3CE;color:#000000;font-family:Arial;margin:1px;width:auto;margin-top:10px;padding:5px;}
#comment_quicktags input:focus.ed_button{background:#FFFFFF;border:1px solid #686868;}
#comment_quicktags #ed_strong{font-weight:bold;}
#comment_quicktags #ed_em{font-style:italic;}
.quoter{margin-top:0px;float:right;}
.footerinside{width:291px;padding:10px;float:left;margin:20px 9px 5px 0px;background:#010101 none repeat scroll 0 0;border:5px solid #030101;height:460px;color:#AAC55E;font-size:130%;}
.footerinside p{font-style:italic;color:#555;font-size:80%;color:#AAC55E;}
.footerinside li{margin-left:5px;padding:5px 0;list-style:none;color:#AAC55E;}
.footerinsideright{width:290px;padding:10px;float:right;margin:20px 0px 5px 0px;background:#010101 none repeat scroll 0 0;border:5px solid #030101;height:460px;color:#AAC55E;}
.footerinsideright p{font-style:italic;color:#555;font-size:80%;color:#AAC55E;}
.footerinsideright li{margin-left:5px;padding:5px 0;list-style:none;color:#AAC55E;}
.columnfooter a{color:#AAC55E;text-decoration:underline;}
.columnfooter a:visited{color:#AAC55E;text-decoration:underline;}
.columnfooter a:hover{color:#FFFFFF;text-decoration:none;}



.sectionHeader{font-size:16px;font-weight:bold;color:#FFFFFF;margin-top:5px;border-bottom:1px #FFFFFF solid;}
#kea_admin{position:fixed;left:0px;width:20px;height:152px;z-index:2000;}
.kea_admin{display:none;}
#kea_admin:hover .kea_admin, .kea_admin:hover{display:block;}
.kea_admin{float:left;}
#kea_admin{color:#333!important;}
#kea_admin a{text-decoration:none!important;color:#333!important;}
#kea_admin a:hover{text-decoration:underline!important;}
#kea_login{position:fixed;left:0px;top:0px;min-height:40px;min-width:40px;cursor:pointer;z-index:2000;}
#kea_login_form{display:none;position:fixed;z-index:2100;}
#kea_admin{background:url(images/edit.png) 0 0 no-repeat;}
.kea_admin{float:left;margin-left:100%;padding:0!important;background:#fff url(images/verticalfons.png) 0 0 repeat-y;border:1px solid #ccc;}
.kea_admin li{list-style:none!important;white-space:nowrap;display:block;border-bottom:1px dotted #ccc;border-top:1px dotted #fff;margin:0!important;padding:0!important;}
.kea_admin li a{padding:0 7px;line-height:20px;display:block;}
.kea_admin li a:hover{background:#FFF url(images/verticalfons.png) right 0 repeat-y;}
.kea_admin hr{margin:0px!important;padding:0px!important;width:auto!important;height:3px!important;border:0px!important;background:#999!important;}
#kea_login_form{background:#434141;padding:20px 30px 40px 30px;border:5px solid #030101;border-radius:10px;font-weight:bold;color:#FFFFFF;-moz-border-radius:10px;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;-khtml-border-top-right-radius:10px;}
.kea_login_close{position:absolute;top:7px;right:10px;width:24px;height:24px;background:url(images/edit.png) 0 -424px no-repeat;cursor:pointer;}
.kea_login_close:hover{background-position:0 -454px;}
#kea_login_form a{color:#114368!important;text-decoration:none!important;line-height:30px;}
#kea_login_form a:hover{text-decoration:underline!important;}
.kea_submit{position:absolute;bottom:10px;right:15px;width:93px;height:25px;border:0!important;background:url(images/edit.png) 0 -492px no-repeat;cursor:pointer;}
.kea_submit:hover{background-position:0 -526px;}
.kea_submit:active{background-position:0 -526px;bottom:9px;right:14px;}


#loginform1{margin-left: 15px;}
#user_login, #user_login1, #user_pass,#user_pass1, #user_email, #pass1, #pass2{margin:0 10px 0 0; height: 15px; float:right; background: #D2CEC5; width: 150px;}
#theme-my-login{width: 628px; display:block;}
#registerform, #loginform{width: 300px; display:block;}
#lostpasswordform{width: 500px; display:block;}

.capcha_class{width: 300px;}

#mst_cmntd{font-family:Verdana;color:#E8E7E7;font-size:12px;float:left;height:auto;margin:0;overflow:hidden;padding:10px 0 15px 15px;width:281px;}
#mst_cmntd li{list-style-type:none;height:35px;}
.cli .clitop{background:url(images/top.png) no-repeat scroll 0 0 transparent;height:43px;width:630px;}
.cli .clipref{background:url(images/line.png) repeat-y scroll 0 0 transparent;font-family:Consolas,monospace;font-size:14px;margin:0;padding:0 25px 0 9px;}
.cli .clibottom{background:url(images/bottom.png) no-repeat scroll 0 0 transparent;height:41px;width:630px;}
.clibottom{height:41px;width:630px;}
.container{padding:0 0 70px 0;}
#message{display:block;display:none;z-index:999;opacity:.8;position:fixed;top:100%;margin-top:-93px;left:80%;margin-left:-80px;-moz-border-radius:24px;-webkit-border-radius:24px;width:300px;line-height:48px;height:48px;padding:10px;background-color:#000;font-size:24px;text-align:center;}
#message a{color:#fff;}
.pagination{clear:both;padding:20px 0;font-size:11px;line-height:13px;background:#010101;width:647px;height:15px;font-size:12px;font-weight:bold;text-align:center;margin:0px auto;padding:5px;position:relative;clear:both;float:left}
.pagination span, .pagination a{margin:10px 2px 2px 0;padding:2px 6px 3px 6px;text-decoration:none;width:auto;color:#fff;background:#202020;}
.pagination a:hover{color:#fff;background:#010101;}
.pagination .current{padding:2px 6px 3px 6px;background:#010101;color:#FF9600;}



#tickll{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;text-decoration:none;color:#FFFFFF;font-weight:bold; position:absolute;float:left;bottom: 4em;left: 37em;}
a.tickl{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;line-height:12px;text-decoration:none;color:#FFFFFF;font-weight:bold;}
a.tickl:hover{color:#AAC55E;text-decoration:underline;}



/* =Menu
-------------------------------------------------------------- */

#access {
	display: block;
	float:left;
	width: 980px;
	height: 28px;
	background: #141822;
	margin-top:5px;
}
#access .menu-header,
div.menu {
	font-size: 13px;
    margin-right: 12px;
    margin-left: 0;
	width: 980px;
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	float:left;
	position: relative;
}
#access a {
	background:#141822;color:#FFFFFF;font-weight:bold;text-decoration:none;
	display: block;
	line-height: 29px;
	padding: 0 10px;
}
#access ul ul {
	display: none;
	position: absolute;
	top: 28px;
	left:auto;
	right:0;
	float:left;
	width: 130px;
	z-index: 99999;
	text-align: left;
}
#access ul ul li {
	min-width: 130px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
}
#access ul ul ul {
	left:auto;
	right:100%;
	top: 0;
}
#access ul ul a {
	background: #030101;
	padding: 0 10px 0 10px;
	width: 130px;
	height: 28px;
}
#access li:hover > a,
#access ul ul :hover > a {
background:#030101;color:#aac55e;font-weight:bold;text-decoration:none;
	float: left;
	
}
#access ul li:hover > ul {
	display: block;
	float: left;
}
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color: #fff;
}
* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #fff;
}

#navigation-bar{background:#030101;width:100%;height:29px;margin:0px;padding:0px;position:relative;float:left;}
#navigation{background:#030101;width:auto;height:29px;margin:0px;padding:0px;position:relative;float:right;overflow:hidden;}
#navigation ul, #navigation li{height:29px;padding:0px;margin:0px;list-style-type:none;float:left;}
#navigation li a{background:#030101;color:#FFFFFF;font-weight:bold;text-decoration:none;margin:0px;padding:7px 15px 8px 15px;float:left;display:block;}
#navigation li a:visited{background:#030101;color:#FFFFFF;font-weight:bold;text-decoration:none;}
#navigation li a:hover{background:#333333;color:#aac55e;font-weight:bold;text-decoration:none;}
#navigation, .current_page_item{background:#333333;color:#aac55e;font-weight:bold;text-decoration:none;}
#navigation, .current_page_item a{background:#333333;color:#aac55e;font-weight:bold;text-decoration:none;}
#navigation, .current_page_item a:visited{background:#333333;color:#aac55e;font-weight:bold;text-decoration:none;}
#navigation, .current_page_item a:hover{background:#010101;color:#333333;font-weight:bold;text-decoration:none;}
